//color
$swamp: #001614;
$gray: #888;
$silver: #ccc;
$white: #fff;
$sky-blue: #79dee7;
$rose: #ff5658;

//fonts
$font-size-xxx-large: 40px;
$font-size-xx-large: 30px;
$font-size-x-large: 20px;
$font-size-large: 18px;
$font-size-medium: 16px;
$font-size-small: 14px;
$font-size-x-small: 12px;

//breakpoint
$min-laptop: 768px;
